{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
    {% set attr = attr|merge({ role: 'form' }) %}
    {% if horizontal %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {% elseif inline %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-inline')|trim}) %}
    {% endif %}
    {{ parent() }}
{% endblock form_start %}

{% block form_row_attributes %}
    {% spaceless %}
        {% set grid_attr = grid_attr|default('') %}
        {% for key,val in grid %}
            {% if val is not empty %}
                {% set grid_attr = (grid_attr|default('') ~ ' col-' ~ key ~ '-' ~ val[1])|trim %}
            {% endif %}
        {% endfor %}
        {% if id is not empty %} id="{{ id ~ '-control' }}"{% endif %}
        {% set row_attr = row_attr|default({})|merge({ class: (row_attr.class|default('') ~ ' ' ~ grid_attr)|trim}) %}
        {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
    {% endspaceless %}
{% endblock form_row_attributes %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {% if horizontal and not inline %}<div{{ block('form_row_attributes') }}>{% endif %}
            {{ form_widget(form) }}
            {% if form.parent == null %}
                {{ form_errors(form) }}
            {% endif %}
            {% if horizontal and not inline %}</div>{% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_help %}
    {% spaceless %}
        {% if help is not empty %}
            <span class="help-block">{{ help|trans({}, translation_domain) }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}

{% block form_label %}
    {% if horizontal and not inline %}
        {% set grid_attr = grid_attr|default('') %}
        {% for key,val in grid %}
            {% if val is not empty %}
                {% set grid_attr = (grid_attr|default('') ~ ' col-' ~ key ~ '-' ~ val[0])|trim %}
            {% endif %}
        {% endfor %}
        {% set label_attr = label_attr|default({})|merge({ class: (label_attr.class|default('') ~ ' control-label ' ~ grid_attr)|trim}) %}
    {% endif %}
    {{ parent() }}
{% endblock form_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% if (prepend or append) and icon is not empty %}<div class="input-group">{% endif %}
        {% if prepend and not append and icon is not empty %}<span class="input-group-addon"><i class="glyphicon glyphicon-{{ icon }}"></i></span>{% endif %}
        {{ parent() }}
        {% if append and not prepend and icon is not empty %}<span class="input-group-addon"><i class="glyphicon glyphicon-{{ icon }}"></i></span>{% endif %}
        {% if (prepend or append) and icon is not empty %}</div>{% endif %}
        {{ block('form_help') }}
        {% endspaceless %}
{% endblock form_widget_simple %}

{% block widget_attributes %}
    {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endblock widget_attributes %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control-inline')|trim}) %}
    {% endif %}
    {{ parent() }}
{% endblock date_widget %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        {% set attr = attr|merge({ class: (attr.class|default('') ~ ' form-control-inline')|trim}) %}
    {% endif %}
    {{ parent() }}
{% endblock time_widget %}

{% block button_row %}
    {% spaceless %}
        <div class="form-group">
            {% if horizontal and not inline %}<div{{ block('button_row_attributes') }}>
                {% endif %}
                {{ form_widget(form) }}
                {% if horizontal and not inline %}</div>{% endif %}
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block button_row_attributes %}
    {% spaceless %}
        {% set grid_attr = grid_attr|default('') %}
        {% for key,val in grid %}
            {% if val is not empty %}
                {% set grid_attr = (grid_attr|default('') ~ ' col-' ~ key ~ '-offset-' ~ val[0] ~ ' col-' ~ key ~ '-' ~val[1])|trim %}
            {% endif %}
        {% endfor %}
        {% set button_row_attr = button_row_attr|default({})|merge({ class: (button_row_attr.class|default('') ~ ' ' ~ grid_attr)|trim}) %}
        {% for attrname, attrvalue in button_row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
    {% endspaceless %}
{% endblock button_row_attributes %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
            {% if prepend and not append and icon is not empty %}
                <i class="glyphicon glyphicon-{{ icon }}"></i>
            {% endif %}
            {{ label|trans({}, translation_domain) }}
            {% if append and not prepend and icon is not empty %}
                <i class="glyphicon glyphicon-{{ icon }}"></i>
            {% endif %}
        </button>
        {{ block('form_help') }}
    {% endspaceless %}
{% endblock button_widget %}

{% block button_attributes %}
    {% if type == 'submit' and button == 'default' %}{% set button = 'primary' %}{% endif %}
    {% set attr = attr|merge({ class: (attr.class|default('') ~ ' btn btn-' ~ button)|trim }) %}
    {{ parent() }}
{% endblock button_attributes %}
