{% extends 'form_div_layout.html.twig' %}


{# Layout #}

{% block form_row_attributes %}
    {% spaceless %}
        {% for key,val in grid %}
            {% set grid_attr = (grid_attr|default('') ~ ' col-' ~ key ~ '-' ~ val[1])|trim %}
        {% endfor %}
        {% set row_attr = row_attr|merge({ class: (row_attr.class|default('') ~ ' ' ~ grid_attr)|trim}) %}
        {% if id is not empty %} id="{{ id ~ '-control' }}"{% endif %}
        {% for attrname, attrvalue in row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
    {% endspaceless %}
{% endblock form_row_attributes %}

{% block form_row %}
    {% spaceless %}
        <div{{ block('form_row_attributes') }}>
            {{ form_widget(form) }}
            {% if form.parent == null %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{# Buttons #}

{% block button_row %}
    {% spaceless %}
        <div{{ block('button_row_attributes') }}>
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block button_row_attributes %}
    {% spaceless %}
        {% for key,val in grid %}
            {% set grid_attr = (grid_attr|default('') ~ ' col-' ~ key ~ '-offset-' ~ val[0])|trim %}
        {% endfor %}
        {% set button_row_attr = button_row_attr|merge({ class: (button_row_attr.class|default('') ~ ' ' ~ grid_attr)|trim}) %}
        {% for attrname, attrvalue in button_row_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
    {% endspaceless %}
{% endblock button_row_attributes %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
                {% if icon is not empty %}
                    <i class="glyphicon glyphicon-{{ icon }}"></i>
                {% endif %}
                {{ label|trans({}, translation_domain) }}
            </button>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}

{% block button_attributes %}
    {% set attr = attr|merge({ class: ((attr.class|default('') ~ ' btn btn-' ~ button)|trim }) %}
    {{ parent() }}
{% endblock button_attributes %}
